<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AfterProgramming" version="0.0.1-alpha" targetFramework="net45" />
  <package id="ApprovalTests" version="2.2" targetFramework="net45" />
  <package id="FluentAssertions" version="2.0.1" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.8-beta" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.3" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Compilers.CSharp" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.Common" version="1.2.20906.2" targetFramework="net45" />
  <package id="Roslyn.Services.CSharp" version="1.2.20906.2" targetFramework="net45" />
</packages>